<div class="multifilter-holder" [@panelState]="state">
  <div class="multifilter-bg" [@panelState]="state" (click)="MultifilterState()"></div>
  <div class="multifilter" [@multifilterState]="state">
    <div class="filter-holder">
      <h2>Мультифильтр</h2>
      <form class="form-horizontal" #form="ngForm">
        <fieldset>
          <!-- Form Name -->
          <legend>События</legend>

          <!-- Multiple Checkboxes -->
          <div class="form-group" style="margin-top: 0; margin-bottom: 20px;">
            <div class="col-sm-6" *ngFor="let event of eventFields; let i = index">
              <div class="checkbox">
                <input type="checkbox" name="eventTypes" id="eventType-{{i}}" [value]="event.eventType" (change)="changeCheckbox(i)" [checked]="event.isChecked">
                <label class="checkbox-inline" for="eventType-{{i}}"><span class="fa fa-check"></span>{{event.eventDescr}}</label>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset dnd-sortable-container [sortableData]="filterForm">
          <div *ngFor="let item of filterForm; let i = index;" class="form-group" dnd-sortable [sortableIndex]="i" (onDragSuccess)="onSort()">
            <div class='col-sm-1 drag' dnd-sortable-handle></div>
            <label *ngIf="item.type !== 'date'" class="col-sm-4 control-label" for="{{item.id}}">{{item.name}}</label>
            <label *ngIf="item.type !== 'date'" class="col-sm-1 text-right">{{ item.type === 'multi' ? 'от' : ''}}</label>

            <div *ngIf="item.type === 'date'" class="col-sm-11">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-1 text-right" for="textinput">с</label>
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-sm-10">
                          <owl-date-time
                            [(ngModel)]="searchDates[item.id + 'From']"
                            [dateFormat]="'DD-MM-YYYY HH:mm'"
                            [inputId]="'textinputdate'"
                            [autoClose]="true"
                            [readonlyInput]="false"
                            name="{{item.id}}From"
                            [inputStyleClass]="'form-control input-sm'"></owl-date-time>
                        </div>
                        <div class="col-sm-2">
                          <owl-date-time [(ngModel)]="searchDates[item.id + 'From']" [inputId]="'textinputdate'" [autoClose]="true" [readonlyInput]="false" name="{{item.id}}From">
                            <div class="calendar-btn">
                            </div>
                          </owl-date-time>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-2 text-right" style="margin-left:-10px;" for="textinput">по</label>
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-sm-10">
                          <owl-date-time
                            [(ngModel)]="searchDates[item.id + 'To']"
                            [dateFormat]="'DD-MM-YYYY HH:mm'"
                            [inputId]="'textinputdate2'"
                            [autoClose]="true"
                            [readonlyInput]="false"
                            name="{{item.id}}To"
                            [inputStyleClass]="'form-control input-sm'"></owl-date-time>
                        </div>
                        <div class="col-sm-2">
                          <owl-date-time [(ngModel)]="searchDates[item.id + 'To']" [inputId]="'textinputdate2'" [autoClose]="true" [readonlyInput]="false" name="{{item.id}}To">
                            <div class="calendar-btn">
                            </div>
                          </owl-date-time>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="item.type === 'single'" class="col-sm-6">
              <input id="{{item.id}}" name="{{item.id}}" type="text" class="form-control input-sm" ngModel>
            </div>

            <div *ngIf="item.type === 'checkbox'" class="col-sm-6">
              <div class="row">
                <div class="col-sm-4 radio">
                  <input type="radio" name="{{item.id}}" id="{{item.id}}-10" [value]="null" [(ngModel)]="checkboxes[item.id]">
                  <label class="radio-inline" for="{{item.id}}-10">все</label>
                </div>
                <div class="col-sm-4 radio">
                  <input type="radio" name="{{item.id}}" id="{{item.id}}-11" [value]="true" [(ngModel)]="checkboxes[item.id]">
                  <label class="radio-inline" for="{{item.id}}-11">есть</label>
                </div>
                <div class="col-sm-4 radio">
                  <input type="radio" name="{{item.id}}" id="{{item.id}}-12" [value]="false" [(ngModel)]="checkboxes[item.id]">
                  <label class="radio-inline" for="{{item.id}}-12">нет</label>
                </div>
              </div>
            </div>
  
            <div *ngIf="item.type === 'multi'" class="col-sm-6">
              <div class="row">
                <div class="col-sm-5">
                  <input id="{{item.id}}From" name="{{item.id}}From" type="number" class="form-control input-sm" ngModel min="0" appForbidNegativeNumbers>
                </div>
                <label class="col-sm-2 text-right" for="salesSumTo">до</label>
                <div class="col-sm-5">
                  <input id="{{item.id}}To" name="{{item.id}}To" type="number" class="form-control input-sm" ngModel min="0" appForbidNegativeNumbers>
                </div>
              </div>
            </div>
          </div>

          <!-- Button (Double) -->
          <div class="form-group">
            <div class="col-sm-12">
              <button id="button2id" name="button2id" type="button" class="btn btn-danger" (click)="MultifilterState()" #cancelBtn>Отмена</button>
              <button id="button1id" name="button1id" type="submit" class="btn btn-success pull-right" (click)="checkFilter(form)">Применить</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
