<div class="configurator-holder" [@panelState]="stateConfig">
  <div class="configurator-bg" [@panelState]="stateConfig" (click)="ConfigState($event)"></div>
  <div class="configurator" [@configState]="stateConfig">
    <h2> Конфигурирование </h2>
    <form #form="ngForm" (ngSubmit)="submitConfig()" class="form-horizontal">
      <fieldset>
        <legend>Товары</legend>
        <!-- <h3>{{productConfig}}</h3> -->
        <h3 class="text-center">{{currentProduct?.Name}}</h3>
        <p class="alert alert-danger" *ngIf="currentProduct?.configStatus === 'error'">Несовпадение данных конфигурирования</p>
        <!-- Multiple Checkboxes (inline) -->
        <div class="form-group">
          <label class="col-xs-4 control-label" for="checkboxes">Продажа разрешена</label>
          <div class="col-xs-8">
              <div class="checkbox">
                  <input type="checkbox" name="SaleEnable" id="checkboxes-0" value="1" [(ngModel)]="goodsUpdate.SaleEnable">
                  <label class="checkbox-inline" for="checkboxes-0"><span class="fa fa-check"></span>&nbsp;</label>
                </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label price-label">Изменить цену</label>
          <div class="col-sm-8 label-sm">
            <div class="row text-center">
              <div class="col-sm-4">
                <label for="newPrice">Ввести новую</label>
                <input id="newPrice" name="NewPrice" type="number" class="form-control input-sm" [(ngModel)]="goodsUpdate.NewPrice" min="0" required>
              </div>
              <div class="col-sm-4">
                <label for="currentPrice">Текущее значение</label>
                <input id="currentPrice" name="currentPrice" type="text" class="form-control input-sm" [(ngModel)]="goodsUpdate.Price" disabled>
              </div>
              <div class="col-sm-4">
                <label for="previousPrice">Предыдущий ввод</label>
                <input id="previousPrice" name="previousPrice" type="text" class="form-control input-sm" [(ngModel)]="goodsUpdate.PreviousPrice" disabled>
              </div>
            </div>
            <div *ngIf="errorMessage" class="form-group text-danger">
                {{ errorMessage }}
            </div>
          </div>
        </div>
        <div class="form-group btns">
          <div class="col-sm-3">
            <button type="button" class="btn btn-danger" (click)='ConfigState($event)' #cancelBtn>Отмена</button>
          </div>
          <div class="col-sm-6">
            <button type="button" id="" name="" class="btn btn-default" (click)='applyConfig()'>Я согласен с настройками</button>
          </div>
          <div class="col-sm-3">
            <button type="submit" id="" name="" class="btn btn-success">Применить</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- <mat-form-field>
      <input matInput value="Disco party!" placeholder="Message" #message>
    </mat-form-field> -->
  </div>
</div>
