<div class="container-fluid report-head">
  <div class='row'>
    <div class='col-sm-2'><span class="report-logo">SMARTNOVA</span></div>
    <div class='col-sm-8 text-center'>
      <h3>&nbsp;</h3>
      <h3>Сообщения системы</h3>
      <h3>&nbsp;</h3>
    </div>
    <div class='col-sm-2'>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" width="20%">
              Время
            </th>
            <th class="text-center" width="20%">
              Источник
            </th>
            <th class="text-center">
              Описание
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs">
            <td class="text-center">{{log.DateTime | date:'medium'}}</td>
            <td class="text-center">{{log.LogType}}</td>
            <td>{{log.LogMessage}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>