<div class="container-fluid report-head">
  <div class='row'>
    <div class='col-sm-2'><span class="report-logo">SMARTNOVA</span></div>
    <div class='col-sm-8 text-center'>
      <h3>&nbsp;</h3>
      <h3>Сообщения системы</h3>
      <h3>&nbsp;</h3>
    </div>
    <div class='col-sm-2'>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" width="15%">
              Время
            </th>
            <th class="text-center" width="20%">
              Источник
            </th>
            <th class="text-center">
              Описание
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">12 окт. 2016 г., 10:37</td>
            <td class="text-center">Торговая сеть CPB1028970</td>
            <td>Неудачная попытка входа в кабинет</td>
          </tr>
          <tr>
            <td class="text-center">12 окт. 2016 г., 10:37</td>
            <td class="text-center">Торговая сеть UZL9725299</td>
            <td>Неопознанный товар idFF3 Кофе</td>
          </tr>
          <tr>
            <td class="text-center">12 окт. 2016 г., 10:37</td>
            <td class="text-center">Торговая сеть PTT4749482</td>
            <td>Неопознанный товар idFF3 Кофе</td>
          </tr>
          <tr>
            <td class="text-center">12 окт. 2016 г., 10:37</td>
            <td class="text-center">Торговая сеть LUI9044053</td>
            <td>Неопознанный товар idFF3 Кофе</td>
          </tr>
          <tr>
            <td class="text-center">12 окт. 2016 г., 10:37</td>
            <td class="text-center">Торговая сеть JFV5361767</td>
            <td>Неопознанный ингредиент idSF4 Капуста</td>
          </tr>
          <tr>
            <td class="text-center">12 окт. 2016 г., 10:37</td>
            <td class="text-center">Торговая сеть HFB6534363</td>
            <td>Неопознанный товар idFF3 Кофе</td>
          </tr>
          <tr>
            <td class="text-center">12 окт. 2016 г., 10:37</td>
            <td class="text-center">Торговая сеть PAS2372320</td>
            <td>Неопознанный автомат EID:CPB1028970</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>