<app-collection-multifilter (collectMultiFilter)="applyMultiFilter($event)"></app-collection-multifilter> 
<div class="col-sm-12">
  <div class="top-panel-min">
    Сумма инкасированных: {{sumCollection}} &nbsp;&nbsp;&nbsp; Сумма выданых: {{sumGivenChange}} &nbsp;&nbsp;&nbsp; Сумма добавленых: {{sumFundChange}}
  </div>
</div>
<div class="col-xs-12 col-sm-12">
  <div class="panel panel-default">
    <table class="table table-striped" [mfData]="data | multiFilterCollect : multiFilter | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th colspan="6">
            <div class="row">
              <div class="show-county col-xs-4">
                <h5>Показать</h5>
                <select class="input-sm" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
              </div>
              <div class="col-xs-4">
                <ul class="icon-multifilter">
                  <li class="tooltip-wrap"><a href="#OpenMultifilter" class="fltr" [ngClass]="{filtered: filtered}" (click)="MultifilterState($event)"></a><span class="tooltiptext">Открыть панель мультифильтра</span></li>
                  <li class="tooltip-wrap"><a class="clrfltr" (click)="clearMultiFilter()"> </a> <span class="tooltiptext">Сбросить настройки мультифильтра</span></li>
                  <li class="tooltip-wrap"><a href="#PrintReport" class="report" [routerLink]="['/start/terminal-item/collection/report', productPk]" target="_blank"></a> <span class="tooltiptext">Открыть отчет в новом окне</span></li>
                </ul>
              </div>
              <div class="search-block col-xs-4">
                <input class="form-control" [(ngModel)]="filterQuery" />
                <h5> Поиск по контенту:</h5>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="text-center">
            <mfDefaultSorter by="DateTime">Дата</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="DateTime">Время</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="Collection">Инкассировано</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="GivenChange">Выдано <br> сдачи
            </mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="FundChange">Фонд <br> сдачи
            </mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="ServiceMan">ФИО <br> сервисмена</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td class="text-center">{{item.DateTime | dateTime: 'date'}}</td>
          <td class="text-center">{{item.DateTime | dateTime: 'time'}}</td>
          <td class="text-center">{{item.Collection}}</td>
          <td class="text-center">{{item.GivenChange}}</td>
          <td class="text-center">{{item.FundChange}}</td>
          <td class="text-center">{{item.ServiceMan}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <!-- <mfBootstrapPaginator></mfBootstrapPaginator> -->
            <app-data-table-paginator></app-data-table-paginator>
            <ul class="pagination">
              <li class="page-item"> <span class="no-border">Всего:</span> </li>
              <li class="page-item"> <span>{{(data | multiFilterCollect : multiFilter | dataFilter : filterQuery)?.length}}</span></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>