<app-ingredients-configurator [currentIngredient] = "currentIngredient"></app-ingredients-configurator>
<app-ingredients-multifilter (ingrMultiFilter)="applyMultiFilter($event)" [filtered]="filtered"></app-ingredients-multifilter>

<div class="col-sm-12">
  <div class="top-panel-min">
    Количество ингредиентов: {{ ingrNumber }}
  </div>
</div>

<div class="col-xs-12 col-sm-12">
  <div class="panel panel-default">
    <table class="table table-striped" [mfData]="data | multiFilterIngr : multiFilter | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" (mfSortByChange)="onChangeSort($event)" (mfSortOrderChange)="onChangeSortOrder($event)">
      <thead>
        <tr>
          <th colspan="7">
            <div class="row">
              <div class="show-county col-xs-4">
                <h5>Показать</h5>
                <select class="input-sm" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
              </div>
              <div class="col-xs-4">
                <ul class="icon-multifilter">
                  <li class="tooltip-wrap"><a href="#OpenMultifilter" class="fltr" [ngClass]="{filtered: filtered}" (click)="MultifilterState($event)"> </a> <span class="tooltiptext">Открыть панель мультифильтра</span></li>
                  <li class="tooltip-wrap"><a (click)="clearMultiFilter()" class="clrfltr"> </a> <span class="tooltiptext">Сбросить настройки мультифильтра</span></li>
                  <li class="tooltip-wrap"><a href="#PrintReport" class="report" [routerLink]="['/start/terminal-item/ingridients/report', productPk]" target="_blank"></a> <span class="tooltiptext">Открыть отчет в новом окне</span></li>
                </ul>
              </div>
              <div class="search-block col-xs-4">
                <input class="form-control" [(ngModel)]="filterQuery" />
                <h5> Поиск по контенту:</h5>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th style="width: 5%" class="text-center">
            <mfDefaultSorter by="Pid">ID</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="Name">Наименование</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="IssuanceVol">Объем <br> выдачи
            </mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="DownloadVol">Объем <br> загрузки
            </mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="CurrentVol">Текущий <br> объем</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="Threshold">Порог</mfDefaultSorter>
          </th>
          <th class="text-center" *ngIf="stateConfigMode == 'active'">
            Конфигурирование
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td class="text-center">{{item.Pid}}</td>
          <td class="text-center">{{item.Name}}</td>
          <td class="text-center">{{item.IssuanceVol}}</td>
          <td class="text-center">{{item.DownloadVol}}</td>
          <td class="text-center">{{item.CurrentVol}}</td>
          <td class="text-center">{{item.Threshold}}</td>
          <td class="text-center" *ngIf="stateConfigMode == 'active'"><a class="icon-config" (click)="ConfigState(item)"></a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <!-- <mfBootstrapPaginator></mfBootstrapPaginator> -->
            <app-data-table-paginator [page]="page" [section]="'ingredients'"></app-data-table-paginator>
            <ul class="pagination">
              <li class="page-item"> <span class="no-border">Всего:</span> </li>
              <li class="page-item"> <span>{{(data | multiFilterIngr : multiFilter | dataFilter : filterQuery)?.length}}</span></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
