
@import './../../layout/layout.less';
@import '../../terminals/layout/datatable.layout.less';
.btn_save {
    margin-top:25px;
    background-color:#aae3f4
}


input{
  color: #106983 !important;
  font-weight: bold;
  font-size: 14px;
}

select {
    color: #106983 !important;
    font-weight: bold;
    font-size: 14px;
}

option {
    color: #106983 !important;
    font-weight: bold;
    font-size: 14px;
}

