<app-products-configurator [currentProduct] = "courentProduct" (configSent)="onConfigSent($event)"></app-products-configurator>
<app-products-multifilter (productsMultiFilter)="applyMultiFilter($event)" [filtered]="filtered"></app-products-multifilter>
<div class="col-sm-12">
  <div class="top-panel-min">
    Количество товаров: {{productsNumber}}
  </div>
</div>
<div class="col-xs-12 col-sm-12">
  <div class="panel panel-default">
    <table class="table table-striped" [mfData]="data | multiFilterProducts : multiFilter | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" (mfSortByChange)="onChangeSort($event)" (mfSortOrderChange)="onChangeSortOrder($event)">
      <thead>
        <tr>
          <th colspan="7">
            <div class="row">
              <div class="show-county col-xs-4">
                <h5>Показать</h5>
                <select class="input-sm" [(ngModel)]="rowsOnPage">
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select>
              </div>
              <div class="col-xs-4">
                <ul class="icon-multifilter">
                  <li class="tooltip-wrap"><a href="#OpenMultifilter" class="fltr" [ngClass]="{filtered: filtered}" (click)="MultifilterState($event)"> </a> <span class="tooltiptext">Открыть панель мультифильтра</span></li>
                  <li class="tooltip-wrap"><a class="clrfltr" (click)="clearMultiFilter()"> </a> <span class="tooltiptext">Сбросить настройки мультифильтра</span></li>
                  <li class="tooltip-wrap"><a href="#PrintReport" class="report" [routerLink]="['/start/terminal-item/products/report', productPk]" [queryParams]="multiFilter" target="_blank"></a> <span class="tooltiptext">Открыть отчет в новом окне</span></li>
                </ul>
              </div>
              <div class="search-block col-xs-4">
                <input class="form-control" [(ngModel)]="filterQuery" />
                <h5>Поиск по контенту:</h5>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th style="width: 5%" class="text-center">
            <mfDefaultSorter by="Id">ID</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="Name">Наименование</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="BaseSum">Базовая<br>цена</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="SoldNumber">Количество<br>проданных</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="SoldSum">Сумма<br>проданных</mfDefaultSorter>
          </th>
          <th class="text-center">
            Состав<br>ингредиентов
          </th>
          <th class="text-center"  *ngIf="stateConfigMode == 'active'">
            Конфигурирование
          </th>
        </tr>
      </thead>
      <tbody *ngIf="data.length>0">
        <tr *ngFor="let item of mf.data">
          <td class="text-center">{{item.Id}}</td>
          <td class="text-center">{{item.Name}}</td>
          <td class="text-center">{{item.BaseSum}}</td>
          <td class="text-center">{{item.SoldNumber}}</td>
          <td class="text-center">{{item.SoldSum}}</td>
          <td class="text-center"><a class="icon-ingridients" (click)="openIngredients($event, item.Pk)"> </a></td>
          <td class="text-center"*ngIf="stateConfigMode == 'active'">
            <a class="icon-config" [ngClass]="{'in-progress': item.UpdateState === 'Awaiting', 'error': item.UpdateState === 'Conflict'}" (click)='ConfigState(item)'></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <!-- <mfBootstrapPaginator></mfBootstrapPaginator> -->
            <app-data-table-paginator [page]="page" [section]="'products'"></app-data-table-paginator>
            <ul class="pagination">
              <li class="page-item"> <span class="no-border">Всего:</span> </li>
              <li class="page-item"> <span>{{(data | multiFilterProducts : multiFilter | dataFilter : filterQuery).length}}</span></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
