<div class="multifilter-holder" [@panelState]="state">
  <div class="multifilter-bg" [@panelState]="state" (click)="MultifilterState()"></div>
  <div class="multifilter" [@multifilterState]="state">
    <div class="filter-holder">
      <h2> Мультифильтр </h2>
      <form class="form-horizontal" #form="ngForm">
        <fieldset dnd-sortable-container [sortableData]="filterForm">

          <!-- Form Name -->
          <legend>Товары</legend>
          <p class="alert alert-danger" *ngIf="!form.valid">Неверный формат данных</p>

          <div *ngFor="let item of filterForm; let i = index;" class="form-group" dnd-sortable [sortableIndex]="i" (onDragSuccess)="onSort()">
            <div class='col-sm-1 drag' dnd-sortable-handle></div>
            <label class="col-sm-4 control-label" for="{{item.id}}">{{item.name}}</label>
            <label class="col-sm-1 text-right">{{ item.type === 'multi' ? 'от' : ''}}</label>

            <div *ngIf="item.type === 'single'" class="col-sm-6">
              <input id="{{item.id}}" name="{{item.id}}" type="text" class="form-control input-sm" ngModel [pattern]="item.pattern">
            </div>
  
            <div *ngIf="item.type === 'multi'" class="col-sm-6">
              <div class="row">
                <div class="col-sm-5">
                  <input id="{{item.id}}From" name="{{item.id}}From" type="number" class="form-control input-sm" ngModel min="0" appForbidNegativeNumbers>
                </div>
                <label class="col-sm-2 text-right" for="salesSumTo">до</label>
                <div class="col-sm-5">
                  <input id="{{item.id}}To" name="{{item.id}}To" type="number" class="form-control input-sm" ngModel min="0" appForbidNegativeNumbers>
                </div>
              </div>
            </div>
          </div>

          <!-- Button (Double) -->
          <div class="form-group">
            <div class="col-sm-12">
              <button id="button2id" name="button2id" class="btn btn-danger" (click)="MultifilterState()" #cancelBtn>Отмена</button>
              <button id="button1id" name="button1id" class="btn btn-success pull-right" (click)="checkFilter(form)">Применить</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>