<!-- <h2 mat-dialog-title>Delete all</h2>
<mat-dialog-content> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center" style="width: 5%">
          ID
        </th>
        <th class="text-center">
          Наименование
        </th>
        <th class="text-center">
          Объем <br> выдачи
        </th>
        <th class="text-center">
          Объем <br> загрузки
        </th>
        <th class="text-center">
          Текущий <br> объем
        </th>
        <th class="text-center">
          Порог
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">GUA2</td>
        <td class="text-center">Трубочка</td>
        <td class="text-center">3 шт</td>
        <td class="text-center">200 шт</td>
        <td class="text-center">12 шт</td>
        <td class="text-center">3 шт</td>
      </tr>
      <tr>
        <td class="text-center">VNM9</td>
        <td class="text-center">Шоколад</td>
        <td class="text-center">14 г</td>
        <td class="text-center">15 кг</td>
        <td class="text-center">1 кг</td>
        <td class="text-center">0.2 кг</td>
      </tr>
      <tr>
        <td class="text-center">EKU6</td>
        <td class="text-center">Сироп</td>
        <td class="text-center">12 г</td>
        <td class="text-center">2 кг</td>
        <td class="text-center">0.3 кг</td>
        <td class="text-center">0.1 кг</td>
      </tr>
      <tr>
        <td class="text-center">OQE5</td>
        <td class="text-center">Сироп</td>
        <td class="text-center">10 г</td>
        <td class="text-center">2 кг</td>
        <td class="text-center">1 кг</td>
        <td class="text-center">0.3 кг</td>
      </tr>
      <tr>
        <td class="text-center">MRT1</td>
        <td class="text-center">Ванилин</td>
        <td class="text-center">1 г</td>
        <td class="text-center">11 кг</td>
        <td class="text-center">0.7 кг</td>
        <td class="text-center">0.1 кг</td>
      </tr>
      <tr>
        <td class="text-center">RRI0</td>
        <td class="text-center">Трубочка</td>
        <td class="text-center">2 шт</td>
        <td class="text-center">200 шт</td>
        <td class="text-center">12 шт</td>
        <td class="text-center">2 шт</td>
      </tr>
      <tr>
        <td class="text-center">UVZ1</td>
        <td class="text-center">Ванилин</td>
        <td class="text-center">1 г</td>
        <td class="text-center">8 кг</td>
        <td class="text-center">0.4 кг</td>
        <td class="text-center">0.3 кг</td>
      </tr>
      <tr>
        <td class="text-center">RAM1</td>
        <td class="text-center">Ложка</td>
        <td class="text-center">2 шт</td>
        <td class="text-center">100 шт</td>
        <td class="text-center">13 шт</td>
        <td class="text-center">3 шт</td>
      </tr>
      <tr>
        <td class="text-center">FHX5</td>
        <td class="text-center">Мармелад</td>
        <td class="text-center">11 г</td>
        <td class="text-center">12 кг</td>
        <td class="text-center">0.4 кг</td>
        <td class="text-center">0.2 кг</td>
      </tr>
      <tr>
        <td class="text-center">VOK8</td>
        <td class="text-center">Стакан пластиковый</td>
        <td class="text-center">1 шт</td>
        <td class="text-center">100 шт</td>
        <td class="text-center">18 шт</td>
        <td class="text-center">3 шт</td>
      </tr>
    </tbody>
  </table>

<!-- </mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions> -->