<div class="multifilter-holder" [@panelState]="state">
  <div class="multifilter-bg" [@panelState]="state" (click)="MultifilterState()"></div>
  <div class="multifilter" [@multifilterState]="state">
    <div class="filter-holder">
      <h2> Мультифильтр </h2>
      <form class="form-horizontal" #form="ngForm">
        <fieldset dnd-sortable-container [sortableData]="filterForm">

          <legend>Торговая сеть</legend>

          <div *ngFor="let item of filterForm; let i = index;" class="form-group" dnd-sortable [sortableIndex]="i" (onDragSuccess)="onSort()">
            <div class='col-sm-1 drag' dnd-sortable-handle></div>
            <label class="col-sm-4 control-label" for="{{item.id}}">{{item.name}}</label>
            <label class="col-sm-1 text-right">{{ item.type === 'multi' ? 'от' : ''}}</label>

            <div *ngIf="item.type === 'single'" class="col-sm-6">
              <input id="{{item.id}}" name="{{item.id}}" type="text" class="form-control input-sm" ngModel maxlength="10">
            </div>

            <div *ngIf="item.type === 'checkbox'" class="col-sm-6">
              <div class="row">
                <div class="col-sm-4 radio">
                  <input type="radio" name="{{item.id}}" id="{{item.id}}-10" [value]="null" [(ngModel)]="checkboxes[item.id]">
                  <label class="radio-inline" for="{{item.id}}-10">все</label>
                </div>
                <div class="col-sm-4 radio">
                  <input type="radio" name="{{item.id}}" id="{{item.id}}-11" [value]="true" [(ngModel)]="checkboxes[item.id]">
                  <label class="radio-inline" for="{{item.id}}-11">есть</label>
                </div>
                <div class="col-sm-4 radio">
                  <input type="radio" name="{{item.id}}" id="{{item.id}}-12" [value]="false" [(ngModel)]="checkboxes[item.id]">
                  <label class="radio-inline" for="{{item.id}}-12">нет</label>
                </div>
              </div>
            </div>

            <div *ngIf="item.type === 'multi'" class="col-sm-6">
                <div class="row">
                  <div class="col-sm-5">
                    <input id="{{item.id}}From" name="{{item.id}}From" type="number" class="form-control input-sm" ngModel>
                  </div>
                  <label class="col-sm-2 text-right" for="salesSumTo">до</label>
                  <div class="col-sm-5">
                    <input id="{{item.id}}To" name="{{item.id}}To" type="number" class="form-control input-sm" ngModel>
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button id="button2id" name="button2id" class="btn btn-danger" (click)="MultifilterState()">Отмена</button>
              <button id="button1id" name="button1id" class="btn btn-success pull-right" (click)="checkFilter(form)">Применить</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
